.rendered_html h1 {
    background-color: #eef7f7;
    border-left: 5px solid #046d6d;
    padding: 15px;
    font-size: 225%;
}

.rendered_html table {
	font-size: 14px;
}

.rendered_html tbody tr:nth-child(2n+1) {
	background-color: #ffffff;
}

a {
    color:#035252; 
}